@import './default.less';
@import './loading.less';
ul,li{
    list-style: none;
}
.clearfix{
    &::after{
        content: "";
        clear: both;
        display: block;
        visibility: hidden;
    }
}
.container{
    //display:flex;
    .nav-left{
        //width:15%;
        //min-width: 180px;
        background-color: #001529;
        color: #ffffff;
        height: calc(100vh);
    }
    .main{
        //flex:auto;  
        height: calc(100vh);
        background-color: @colorL;
        overflow: auto;
    }
    .content{
        position: relative;
        padding: 20px;
        
        display: block;
        //align-items: center;
        // justify-content: center;
    }
}

.content-wrap{
    background-color: #ffffff;
    border:1px solid #e8e8e8;
    margin-top: -3px;
    .antd-table-wrapper{
        margin-left: -1px;
        margin-right: -2px;
    }
}
